# Ignora arquivos temporários e cache do Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Ignora arquivos de log e dump
*.log
*.out
*.bak
*.swp

# Ignora arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignora planilhas geradas/atualizadas pelo script
cannes_lions_winners.xlsx
cannes_lions_winners.json
